<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="l">
            <directory>./app/tests/libraries</directory>
            <directory>./app/tests/models</directory>
            <directory>./app/tests/repositories</directory>
            <directory>./app/tests/controllers</directory>
        </testsuite>
        <testsuite name="h">
            <directory>./app/tests/front_end</directory>
        </testsuite>
    </testsuites>
</phpunit>
