body {
  background-color: #EEE;
}
div.maincontent {
  padding: 40px;
  border-radius: 5px;
  moz-border-radius: 5px;
  background-color: #FFF;
  width: 750px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
a {
  cursor: pointer;
}
.navbar {
  z-index: 999;
  position: relative;
}
.flash {
  top: 41px;
  text-align: center;
  padding: 8px 14px 8px 14px;
  position: absolute;
  width: 100%;
  z-index: 99;
}
fieldset div.wrapper {
  overflow: auto;
  width: 100%;
}
fieldset div.wrapper .collumn {
  float: left;
  margin: 0px 75px;
}
.tree {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.tree a:hover {
  text-decoration: none;
}
.tree .not-important {
  opacity: 0.3;
}
.tree ul {
  padding-left: 10px;
  margin-left: 6px;
  border-left: dotted 1px #999;
}
.tree ul[class^=roots] {
  padding-left: 0px;
  margin-left: 0px;
  border-left: none;
}
.tree li {
  margin-top: 5px;
  display: block;
}
.tree li .btn-group {
  float: right;
}
.tree div.line {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}
.tree div.line:hover {
  background-color: #E7E7E7;
}
input.error,
select.error {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
input.error:focus,
select.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392;
}
.btn-marginless {
  margin-bottom: 0px;
}
td input,
td select {
  margin-bottom: 0px !important;
}
span.padding-as-input {
  color: #000;
  padding: 4px 6px;
  display: inline-block;
  opacity: 0.5;
}
li[collapsed="true"] a .icon-chevron-right {
  background-position: -456px -72px !important;
}
li[collapsed="false"] a .icon-chevron-right {
  background-position: -313px -119px;
}
select[data-chosen] {
  width: 100%;
}
.chzn-container {
  margin-bottom: 10px;
}
.popover {
  width: 415px;
}
.popover .popover-content {
  display: inline-block;
  vertical-align: top;
}
.popover .popover-content img {
  display: inline-block;
  width: 100px;
  padding: 10px;
}
.popover .popover-content .attributes {
  display: inline-block;
}
