/* CSS for module at sugestions of products */
#sugestions {
  border: 1px solid #CCC;
  padding: 1%; /* 20px / 381px */
  margin-top: 0.5%; /* 10px / 381px */
  vertical-align: middle;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#sugestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sugestions li {
  width: 15%;
  display: inline-block;
}

/* Media queries */
@media screen and (min-width:240px) and (max-width: 454px) {
  #sugestions li {
    width: 32.4%;
  }
}

@media screen and (min-width:240px) and (max-width: 454px) and (orientation:portrait) {
  #sugestions li {
    width: 48.5%;
  }
}

@media screen and (min-width:455px) and (max-width: 697px) {
  #sugestions li {
    width: 32.4%;
  }
}
