/**
    Vars and mixins
**/

@import url('variables');
/**
    Common styling
**/
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    .font-size(13);
    margin: 0;
    color: #707070;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover{
        color: #ff7700;
    }
}

.content {
    width: 72.5%;
    margin: auto;
    position: relative;
}
/**
    Sidebar
**/

/**
    Main page content
**/

div.main{
    float: left;
    width: 74%;
    margin-left: 20px;
}

/**
    Footer
**/

.footer{
    font-size: 11px;
    clear:both;
    height: 35px;
    line-height: 35px;
    border-top: solid 1px #DDD;
}

