.alert {
  display: block;
  padding: 10px;
  position: fixed;
  top: 7%;
  text-align: center;
  width: 100%;
  z-index: 500;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert.alert-notice {
  color: white;
  background-color: #7BBA55;
}
.alert.alert-error {
  color: #B94A48;
  background-color: #F2DEDE;
}
