.breadcrumb {
  list-style: none;
  padding: 0;
  padding: 1%;
  padding-bottom: 2%;
  border-bottom: 1px solid #EEE;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li a {
  text-decoration: none;
  color: #FF5F00;
}
