.form-inline {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.form-inline select {
  width: 220px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  display: inline-block;
  height: 28px;
  padding: 4px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.form-inline label {
  padding-right: 10px;
}
.form-inline input[type='submit'] {
  width: 30%;
  text-align: center;
}
