/* buttons module */
.button {
   border-top: 1px solid #FF5E00;
   background: #FF5E00;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF8000), to(#FF5E00));
   background: -webkit-linear-gradient(top, #FF8000, #FF5E00);
   background: -moz-linear-gradient(top, #FF8000, #FF5E00);
   background: -ms-linear-gradient(top, #FF8000, #FF5E00);
   background: -o-linear-gradient(top, #FF8000, #FF5E00);

   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;

   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;

   padding: 9.5px 19px;
   color: white;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

button.button, input[type='submit'] {
  display: block;
  width: 97%;
  font-size: 1em;
  border-bottom: 0;
  border: 0;
}

/* states of button */
.button:hover {
   border-top-color: #FF5E00;
   background: #FF5E00;
   color: #FFF;
}

.button:active {
   border-top-color: #FF5E00;
   background: #FF5E00;
}

/* Type of buttons */
/* Primary button */
.button-primary {
   border-top: 1px solid #CCC;
   border-bottom: 1px solid #BBB;
   background: #BBBBBB;
   background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#BBB));
   background: -webkit-linear-gradient(top, #EEE, #BBB);
   background: -moz-linear-gradient(top, #EEE, #BBB);
   background: -ms-linear-gradient(top, #EEE, #BBB);
   background: -o-linear-gradient(top, #EEE, #BBB);

   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;

   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;

   padding: 9.5px 19px;
   color: white;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button-primary:hover {
   border-top-color: #AAAAAA;
   background: #AAAAAA;
   color: #FFFFFF;
}

.button-primary:active {
   border-top-color: #AAAAAA;
   background: #AAAAAA;
}

/* Displaying block button */
.button-primary.button-block, .button.button-block {
   display: block;
   text-align: center;
}


/* It is used at times when the layout becomes responsive */
.btn-navbar {
  margin-right: 2%;
  display:none;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 6px;
  margin-left: 5px;
  border: 1px solid #B8B8B8;

  background: -moz-linear-gradient( top, #E5E5E5 0%, #E0E0E0);
  background: -webkit-gradient( linear, left top, left bottom, from(#E5E5E5), to(#E0E0E0));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -moz-box-shadow:
    0px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 6px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 6px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(255,255,255,0.5),
    inset 0px 0px 6px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}

.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* Media queries */
@media screen and (min-width:240px) and (max-width: 454px) {
  .btn-navbar {
    display: inline;
  }
}

@media screen and (min-width:455px) and (max-width: 697px) {
  .btn-navbar {
    display: inline;
  }
}